@using Ehealth.ViewModels.Product
@model List<AllProductsViewModel>

@{
    ViewData["Title"] = "ProductInfo";
}

<div class="container">

    <div class="row">

        <div class="col-lg-3 p-0">

            <h1 class="my-4">E-Health</h1>
            <h2 class="my-4">Admin Area</h2>

            <partial name="_AdminNavButtonsPartial" />

        </div>

        <div class="col-lg-9 p-0 pl-3 text-center mt-5">
            <h2>Product Info</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Purchases</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@Model[i].Name</td>
                            <td>@Model[i].Price</td>
                            <td>@Model[i].Quantity</td>
                            <td>@Model[i].PurchaseCount</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>