@using Ehealth.ViewModels.Product
@model List<AllProductsViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="row">

        <div class="col-lg-3 p-0">

            <h1 class="my-4">E-Health</h1>
            <div class="list-group">

                <a class="list-group-item p-3 text-center" asp-area="" asp-controller="Home" asp-action="All">All Products</a>

            </div>

            <partial name="_HomeNavButtonsPartial" />

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 p-0 pl-3">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel" data-interval="2000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a class="d-flex justify-content-center" asp-area="" asp-controller="Home" asp-action="SingleProduct" asp-route-id="@Model[0].Id"><img class="d-block img-fluid" style="height: 500px" src="@Model[0].ProductUrl" alt="First slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a class="d-flex justify-content-center" asp-area="" asp-controller="Home" asp-action="SingleProduct" asp-route-id="@Model[1].Id"><img class="d-block img-fluid" style="height: 500px" src="@Model[1].ProductUrl" alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a class="d-flex justify-content-center" asp-area="" asp-controller="Home" asp-action="SingleProduct" asp-route-id="@Model[2].Id"><img class="d-block img-fluid" style="height: 500px" src="@Model[2].ProductUrl" alt="Third slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">

                @foreach (var product in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4 text-center">
                        <div class="card h-100">
                            <a asp-area="" asp-controller="Home" asp-action="SingleProduct" asp-route-id="@product.Id"><img class="card-img-top rounded" src="@product.ProductUrl" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a asp-area="" asp-controller="Home" asp-action="SingleProduct" asp-route-id="@product.Id">@product.Name</a>
                                </h4>
                                <h5 class="mt-5">$ @product.Price</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>